<body class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form #f="ngForm" ngNativeValidate autocomplete="off">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h3 class="text-center">ACESSO AO SISTEMA</h3>
                <p class="text-muted text-center">Entre com o email e senha</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input
                    type="email"
                    class="form-control input-lg"
                    name="email"
                    placeholder="E-mail"
                    required
                    #usuario
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input
                    ngModel
                    name="password"
                    class="form-control"
                    type="password"
                    required
                    placeholder="Senha"
                    #senha
                  />
                </div>
                <div class="row">
                  <div class="col-12">
                    <button
                      class="btn btn-primary px-4 btn-block"
                      type="submit"
                      [disabled]="!f.valid"
                      (click)="
                        login(usuario.value, senha.value); senha.value = ''
                      "
                    >
                      Entrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card text-white bg-white d-md-down-none"
              style="width:44%"
            >
              <img
                style="width: 100%; height: 100%;"
                [src]="logomarca | empresa"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
