<p-blockUI [blocked]="loading">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:50%;left:50%"></i>
</p-blockUI>

<div class="row">
  <div class="col-12">
    <div class="card border-info">
      <div class="card-header"><strong>Filtros</strong></div>
      <form autocomplete="off" (ngSubmit)="verificar()" #frm="ngForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="De" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="filtro.de"
                  name="de" #de="ngModel"/>
                <div class="input-group-prepend">
                  <span class="input-group-text"> À </span>
                </div>
                <input class="form-control" placeholder="Até" bsDatepicker [bsConfig]="bsConfig"
                  [(ngModel)]="filtro.ate" name="ate" #ate="ngModel"/>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <ng-select placeholder="Selecione o Corretor" [(ngModel)]="filtro.corretor" [items]="listaCorretores"
                  name="corretor" clearAllText="Limpar" [bindLabel]="'label'" [bindValue]="'value'"
                  loadingText="Carregando..." notFoundText="Nenhum registro encontrado">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-6">
              <div class="form-group">
                <input placeholder="Banco" class="form-control" type="text" name="banco" [(ngModel)]="filtro.banco" />
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-xl-6">
              <div class="form-group">
                <input placeholder="Tabela" class="form-control" type="text" name="tabela"
                  [(ngModel)]="filtro.tabela" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-outline-success" type="submit" [disabled]="frm.invalid">
            <i class="fa fa-search-plus"></i> Pesquisar
          </button>

          <button class="btn btn-sm btn-primary ml-2" type="button" [disabled]="frm.invalid" (click)="imprimirResumo()">
            <i class="fa fa-print"></i> Imprimir
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row" *ngIf="producoes.length > 0">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Listagem</strong>
      </div>
      <div class="card-body">
        <p-table [value]="producoes" [responsive]="false" [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [loading]="loading" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
          expandableRows="true" dataKey="id" rowExpandMode="single" [scrollable]="true" [style]="{ width: 'auto' }" scrollHeight="200px"
          #tabela>
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 3em" />
              <col style="width:130px" />
              Proposta
              <col style="width:130px" />
              Contrato
              <col style="width:250px" />
              Banco
              <col style="width:120px" />
              Dt Operação
              <col style="width:120px" />
              Valor Contrato R$
              <col style="width:120px" />
              % Agente
              <col style="width:120px" />
              R$ Agente
              <col style="width:120px" />
              % Empresa
              <col style="width:120px" />
              R$ Empresa
              <col style="width:120px" />
              % Contrato
              <col style="width:120px" />
              R$ Contrato
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3em"></th>
              <th>Proposta</th>
              <th>Contrato</th>
              <th>Banco</th>
              <th>Dt Operação</th>
              <th>Valor Contrato R$</th>
              <th>% Agente</th>
              <th>R$ Agente</th>
              <th>% Empresa</th>
              <th>R$ Empresa</th>
              <th>% Contrato</th>
              <th>R$ Contrato</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-contrato let-rowData let-expanded="expanded">
            <tr>
              <td>
                <a href="#" [pRowToggler]="rowData">
                  <i [ngClass]="
                      expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "></i>
                </a>
              </td>
              <td>{{ contrato.proposta }}</td>
              <td>{{ contrato.contrato }}</td>
              <td>{{ contrato.banco }}</td>
              <td>{{ contrato.data_operacao | date: "dd/MM/yyyy" }}</td>
              <td style="text-align: right" *ngIf="contrato.tipo == 'I'">
                {{ contrato.valor_contrato | number: "1.2-2" }}
              </td>
              <td style="text-align: right" *ngIf="contrato.tipo == 'M'">
                {{ 0.00 | number: "1.2-2" }}
              </td>
              <td style="text-align: right">{{ contrato.corretor_perc_comissao | number: "1.2-2" }}</td>
              <td style="text-align: right">{{ contrato.corretor_valor_comissao | number: "1.2-2" }}</td>
              <td style="text-align: right" *ngIf="contrato.tipo == 'I'">{{ contrato.correspondente_perc_comissao | number: "1.2-2" }}</td>
              <td style="text-align: right" *ngIf="contrato.tipo == 'M'">{{ 0.00 | number: "1.2-2" }}</td>
              <td style="text-align: right" *ngIf="contrato.tipo == 'I'">{{ contrato.correspondente_valor_comissao | number: "1.2-2" }}</td>
              <td style="text-align: right" *ngIf="contrato.tipo == 'M'">{{ 0.00 | number: "1.2-2" }}</td>
              <td style="text-align: right">{{ contrato.perc_comissao | number: "1.2-2" }}</td>
              <td style="text-align: right">{{ contrato.valor_comissao| number: "1.2-2" }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-i="rowIndex" let-contrato>
            <tr>
              <td colspan="12">
                <div class="ui-g ui-fluid" style="font-size:12px;padding:10px">
                  <div class="ui-g-12 ui-md-12">
                    <b>CPF: </b> {{ contrato.cpf }}
                  </div>

                  <div class="ui-g-12 ui-md-12">
                    <b>Cliente: </b> {{ contrato.cliente }}
                  </div>

                  <div class="ui-g-12 ui-md-12">
                    <b>Dt Crédito: </b> {{ contrato.data_credito_cliente | date: "dd/MM/yyyy" }}
                  </div>

                  <div class="ui-g-12 ui-md-12">
                    <b>NCR: </b> {{ contrato.data_ncr | date: "dd/MM/yyyy" }}
                  </div>

                  <div class="ui-g-12 ui-md-12">
                    <b>Tabela: </b> {{ contrato.tabela }}
                  </div>

                  <div class="ui-g-12 ui-md-12">
                    <b>Prazo: </b> {{ contrato.prazo }}
                  </div>

                  <div class="ui-g-12 ui-md-12">
                    <b>Corretor: </b> {{ contrato.corretor }}
                  </div>

                  <div class="ui-g-12 ui-md-12">
                    <b>Físico Pendente: </b>
                    <span [style.color]="
                        contrato.fisicopendente === 'S' ? 'red' : 'green'
                      ">
                      {{ contrato.fisicopendente }}
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="12">Nenhum contrato encontrado</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="footer">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="text-align: right">{{ total_contratos | number: "1.2-2" }}</td>
              <td></td>
              <td style="text-align: right">{{ total_valor_agente | number: "1.2-2" }}</td>
              <td></td>
              <td style="text-align: right">{{ total_valor_empresa | number: "1.2-2" }}</td>
              <td></td>
              <td style="text-align: right">{{ total_valor_comissao | number: "1.2-2" }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
