<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <form #frm="ngForm" (ngSubmit)="salvar(frm)">
        <div class="card-body">
          <h4 class="card-title">Dados da empresa</h4>
          <div class="form-group">
            <label>Empresa</label>
            <input
              [class.is-invalid]="empresa.invalid && empresa.touched"
              [(ngModel)]="config.empresa"
              #empresa="ngModel"
              [disabled]="!auth.isAdmin"
              name="empresa"
              required
              type="text"
              class="form-control"
              placeholder="Empresa"
            />
            <app-message
              [control]="empresa"
              error="required"
              text="Campo é obrigatório."
            ></app-message>
          </div>
          <div class="form-group">
            <label>Cidade</label>
            <input
              [class.is-invalid]="cidade.invalid && cidade.touched"
              [(ngModel)]="config.cidade"
              #cidade="ngModel"
              [disabled]="!auth.isAdmin"
              name="cidade"
              required
              type="text"
              class="form-control"
              placeholder="Cidade"
            />
            <app-message
              [control]="cidade"
              error="required"
              text="Campo é obrigatório."
            ></app-message>
          </div>
          <div class="form-group">
            <label>Estado</label>
            <input
              [class.is-invalid]="estado.invalid && estado.touched"
              [(ngModel)]="config.estado"
              [disabled]="!auth.isAdmin"
              required
              #estado="ngModel"
              name="estado"
              type="text"
              class="form-control"
              placeholder="Estado"
            />
            <app-message
              [control]="estado"
              error="required"
              text="Campo é obrigatório."
            ></app-message>
          </div>
          <button
            type="submit"
            [disabled]="!auth.isAdmin || frm.invalid"
            class="btn btn-block btn-success m-r-10"
          >
            <i class="fa fa-save"></i>
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Logomarca</h4>
        <img
          *ngIf="!imagenTemp"
          [src]="config.logo | empresa"
          class="img-circle rounded mx-auto d-block"
          width="150"
        />
        <img
          *ngIf="imagenTemp"
          [src]="imagenTemp"
          class="img-circle rounded mx-auto d-block"
          width="150"
        />

        <br />

        <input (change)="selecionaImagem($event.target.files[0])" type="file" />

        <br /><br />

        <button
          (click)="onUpload()"
          [disabled]="!imagenSubir"
          type="button"
          class="btn btn-block btn-success m-r-10"
        >
          <i class="fa fa-save"></i>
          Atualizar
        </button>
      </div>
    </div>
  </div>
</div>
