@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/ngx-toastr/toastr.css";

.app-body {
  overflow-x: unset !important;
}

ng-select.ng-invalid.ng-touched {
  border-color: #dd4b39;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1px #dd4b39;
  border-radius: 4px;
}

.botao-card-direito {
  float: right;
  position: relative;
}

#themecolors a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.w150 {
  width: 150px;
}

.w70 {
  width: 70px;
}

.img-50 {
  width: 50px;
}

.oculto {
  display: none;
}

.fondo-negro {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.help-block {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
