<section id="wrapper" class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h1>403</h1>
      <h3 class="text-uppercase">Acesso negado</h3>
      <p class="text-muted m-t-30 m-b-30">
        Desculpe, você não está autorizado a acessar a página que solicitou. Se você acha que isso é um engano, entre em
        contato com a gente.
      </p>
      <a href="javascript:history.back()" class="btn btn-info btn-rounded waves-effect waves-light m-b-40"
        >Voltar para onde estava</a
      >
    </div>
  </div>
</section>
